body {
	color:#ff0000;
	font-family: Arial, sans-serif;
	margin:auto;
	max-width: 700px;
}

.patahide-w {
	color:#f0f0f0;
}

.patahide-w:hover {
	color:#ff0000;
}

.patahide-b {
	color:#0f0f0f;
}

.patahide-w:hover {
	color:#ff0000;
}

a {
	color:inherit;
}